.mobile-article {
    display: none;
}

.article {
    height: 420px;
    background-color: $lightgreen;
    display: flex;
    margin-bottom: 105px;

    .container {
        display: flex;

        .article-img {
            width: 44.92188vw;
            max-width: 460px;
            height: 460px;
            background-size: cover;
            margin-right: 5.37109vw;
            margin-top: -20px;
            background-repeat: no-repeat;
            background-position: center;

            &:last-child {
                margin-right: 0;
                margin-left: 4.1015625vw;
            }
        }

        .article-content {
            writing-mode: vertical-rl;
            color: $deepgreen;
            line-height: 32px;
            height: 100%;
            margin-right: 3.90625vw;
            padding: 6.83594vw 0;

        }

        .article-title {
            top: -78px;
            right: 0;
            max-width: 89px;
            min-width: 60px;
            width: 8.69141vw;
            height: 307px;
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
            margin-top: -20px;
        }
    }
}

@media (max-width:768px) {
    .article {
        display: none;
    }

    .mobile-article {
        display: block;

        .container {
            .article-title {
                width: 196px;
                height: 60px;
                margin: 30px auto;
                background-repeat: no-repeat;
                background-position: center;
            }

            .article-img {
                background-size: cover;
                width: 100%;
                height: 250px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .article-content {
                padding: 30px;
                background-color: $lightgreen;
                color: $deepgreen;
                line-height: 32px;
            }
        }
    }
}