//title-mid

.mobile-title-mid {
    display: none;
}

.title-mid {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 80.22px;

    img {
        width: 89.1px;
        height: 327.79px;
    }
}

@media (max-width:767px) {
    .title-mid {
        display: none;
    }

    .mobile-title-mid {
        display: block;
        text-align: center;
        padding: 30px 0;

        img {
            width: 226px;
            height: 60px;

        }
    }
}

//card-list
.special {
    writing-mode: vertical-lr;
    background-color: $darkgreen;
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
    letter-spacing: 2px;
    padding: 10px;
    z-index: 2;
}

.heart {
    background: url(img/baseline-favorite_border-24px.svg) no-repeat center;
    background-size: cover;
    color: $darkgreen;
    width: 20px;
    height: 18.35px;
    position: absolute;
    top: 19px;
    right: 22px;
    z-index: 2;

    &:hover {
        background: url(img/if_heart-24_103180.svg) no-repeat center;
        background-size: cover;
    }
}

.card-nav {
    font-size: 24px;
    font-weight: bold;

    h2 {
        padding: 16px 0;
        text-align: center;
        background-color: $darkgreen;
        color: $white;
    }

    a {
        padding: 16px 0;
        text-align: center;
        background-color: $white;
        color: $darkgreen;
        text-decoration: none;
        border-right: 1px solid $lightgreen;
        border-left: 1px solid $lightgreen;
        border-bottom: 1px solid $lightgreen;

        &:hover {
            background-color: $lightgreen;
        }
    }
}

.enter {
    width: 100%;
    height: 65px;
    background-color: $eggyellow;
    color: $darkgreen;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$darkgreen !important;
}

.steps-container {

    width: 186px;
    display: flex;
    text-align: center;
    justify-content: space-between;

    .step {
        .step-content {
            width: 20px;
            height: 20px;
            background: $darkgreen;
            display: inline-block;
            border-radius: 100%;
            border: 1px solid $deepgreen;
            position: relative;

            &:after {
                content: "";
                display: block;
                width: 65px;
                height: 1px;
                position: relative;
                background: $deepgreen;
                margin-left: 19px;
                margin-top: 50%;
                transform: translateY(-50%);
            }
        }

        &:first-child .step-content {
            border: 1px solid $lightgreen;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $lightgreen;
            }
        }

        &:last-child .step-content:after {
            display: none;
        }

        i {
            display: none;
        }
    }

    .checkstep2 {
        &:first-child .step-content {
            border: 0px solid $lightgreen;
            background: $lightgreen;

            i {
                display: unset;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                font-size: 14px;
                color: $darkgreen;
                font-weight: bold;
            }
        }

        &:nth-child(2) .step-content {
            border: 1px solid $lightgreen;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $lightgreen;
            }
        }
    }

    .checkstep3 {
        &:first-child .step-content {
            border: 0px solid $lightgreen;
            background: $lightgreen;

            i {
                display: unset;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                font-size: 14px;
                color: $darkgreen;
                font-weight: bold;
            }
        }

        &:nth-child(2) .step-content {
            border: 0px solid $lightgreen;
            background: $lightgreen;

            i {
                display: unset;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                font-size: 14px;
                color: $darkgreen;
                font-weight: bold;
            }
        }

        &:last-child .step-content {
            border: 1px solid $lightgreen;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $lightgreen;
            }
        }
    }

    .success {
        .step-content {
            border: 0px solid $lightgreen;
            background: $darkgreen;

            &:after {
                background: $darkgreen;
            }


            i {
                display: unset;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                font-size: 14px;
                color: $deepgreen;
            }
        }

        &:first-child .step-content {
            border: 0px solid $lightgreen;


            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $darkgreen;
            }
        }
    }
}

.right-icon {
    display: flex;
    justify-content: flex-end;

    img {
        position: absolute;
        padding: 17px 20px;
    }
}